* {
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

hr.sepline {
  border: 1px solid #858585;
  width: 1210px;
}

.product-item {
  border: 1px solid #ccc;
  width: 246px;
  height: 200px;
  margin-left: 25px;
  position: relative;
  line-height: 1.1;
  margin-bottom: 40px;
}
.product-item .checkbox {
  position: absolute;
  margin-left: 20px;
  top: 10px;
}
.product-item .product-details {
  margin-top: 50px;
}

/* Add Product Form */
.add-product {
  padding: 30px;
  width: 500px;
  margin: 30px;
  position: relative;
}
.add-product .form-group {
  padding-bottom: 50px;
  width: 500px;
}
.add-product .form-group > label,
.add-product .form-group > input {
  float: left;
}
.add-product .form-group > label {
  width: 100px;
  margin-top: 3px;
}
.add-product .form-group > input {
  width: 300px;
}
.add-product section.switch-type {
  margin-top: -30px;
}

.errors {
  float: left;
  margin-left: 100px;
  color: #bb1717;
}

section.switch-type > div > div > p {
  float: left;
  margin: 3px 93px;
  width: 300px;
  padding-top: 3px;
}

/* footer */
footer {
  margin: 20px;
  padding: 20px;
}